.lands{
    /* border: 5px solid black; */
    height: 218vh;
}
.landup h1{
    /* border: 5px solid red; */
    font-size: calc(30.66667px + 1.06667vw);
    font-family: gt-sectra;
    font-weight: 200;
    line-height: 1.3;
    transform: translate(150px, 5px);
    margin-right: 500px;
}
.landup p{
    /* border: 5px solid greenyellow; */
    color: #777;
    line-height: 2;
    font-size: .9rem;
    margin-right: 500px;
    transform: translate(150px, 50px);
}
.landup button{
    /* border: 5px solid blue; */
    transform: translate(150px, 50px);
    border: none;
}
.button2{
    margin: 50px;
}
.carou{
    margin-top: 1150px; 
    margin-left: -650px;
}
.sun1 h3{
    text-align: center;
    margin-top: .7rem;
    font-size: .65rem;
}
.sun2 h3{
    text-align: center;
    margin-top: .7rem;
    font-size: .65rem;
}
.sun3 h3{
    text-align: center;
    margin-top: .7rem;
    font-size: .65rem;
}
.navigation h3{
    font-size: .8rem;
    margin-left: 2rem;
    margin-top: -2rem;
}
.navigation{
    color: hsla(0,0%,100%,.5);
    fill: white;
    height: 1rem;
    width: 1rem;
    margin-left: 5rem;
    margin-top: 3rem;
}
.country{
    
    margin-top: 6rem;
    margin-left: 5rem;
    color: hsla(0,0%,100%,.5);
    /* font-size: 1rem; */
}
.sun h3{
    color: hsla(0,0%,100%,.5);
}
.sun3{
    fill: white;
    height: 2rem;
    width: 2rem;
    margin-top: -2rem;
    margin-left: 15rem;
}
.sun2{
    fill: white;
    height: 2rem;
    width: 2rem;
    margin-top: -2rem;
    margin-left: 10rem;
}
.sun1{
    fill: white;
    height: 2rem;
    width: 2rem;
    margin-top: 5rem;
    margin-left: 5rem;
}
.leftarrow{
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    fill: white;
    border: none;
    margin-top: 5rem;
    margin-left: 5rem;
}
.rightarrow{
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    fill: white;
    border: none;
    margin-top: 2rem;
    margin-left: 2rem;
}
.containers img{
    height: 47.1rem;
}
.blackbox{
    /* border: 10px solid olive; */
    background-color:#161f1e;
    height: 40%;
    width: 50%;
    position: relative;
    left: 45rem;
    bottom: 70rem;
}
.carousel {
    width: 15rem;
    height: 60rem;
    transform: translate(70.0rem,-105.0rem);
}
.section2{
    /* border: 10px solid pink; */
    float: left;
    width: 33.33%;
}
.headerclass{
    /* border: 10px solid red; */
    /* height: 120vh;
    width: 100vw; */
    height: 100%;
    width: 100%;
    
}
#myvideo {
    /* border: 5px solid greenyellow; */
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    /* z-index: -1; */
    /* height: 120vh;
    width: 100vw; */
}
.main ul{
    margin: 0;
    padding: 0;
    font-family: messina-sans;
    float: right;
    list-style-type: none;
    /* margin-top: 25px; */
}
ul li a{
    color: #fff;
}
.main ul li{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: .5rem 2.0rem;
}
.main{
    /* max-width: 1200px; */
    /* margin: auto; */
    /* border: 10px solid yellow; */
    position: relative;
    bottom: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
}    
.logo{
    float: left;
    width: 15.0rem;
    height: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    /* border: 5px solid red; */
    color:#fff;
    font-size: 7.0rem;
    font-family: gotham;
    font-weight: 100;
    line-height: 1.3;
    box-sizing: border-box;
    display: block;
    text-align: start;
    position: relative;
}
/* CSS FOR FOOTER IS GIVEN BELOW  */
.i_footer{
    /* border: 10px solid blue; */
    background-color: #161f1e;
    height: 60vh;
    width: 100vw;
}
.i_ch_footercol h4{
    color: #fff;
}
.i_row{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.i_row ul li a{
    margin: 7.0rem;
    text-decoration: none;
}
.i_footer p{
    margin-left: 7.0rem;
    color: white;
}
.i_sticker{
    margin-top: 100px;
    height: 5.0rem;
    width: 5.0rem;
    position: relative;
    left:8.0rem;
    top: -20.0rem;
}
.i_ch_footercol li{
    list-style-type: none;
    margin: 2.5rem 0;
}
.i_ch_footercol li{
    list-style-type: none;
    margin: 2.5rem 0;
}

html{
    font-size: 100%;
}
/* *{
    overflow: hidden;
} */
/* MEDIA QUERY IS LISTED BELOW  */
@media (max-width:998px){
    html{
        font-size: 55%;
    }
}
@media (max-width:768px){
    html{
        font-size: 45%;
    }
}
@media (max-width:375px){
    html{
        font-size: 45%;
    }
}
@media (max-device-width : 375px) {
    .title h1{
        font-size: 200px;
    }
    .navitem{
        font-size: 30px;
    }
    .logo{
        height: 500px;
        width: 500px;
        transform: translate(100px,-200px);
    }
    .con h1{
        font-size: 100px;
    }
    .con{
        font-size: 40px;
    }
    .image{
        height: 800px;
        width: 800px;
    }
    .img3{
        /* The height and width of the image are not changigg */
    }
    .landup h1{
        font-size: 100px;
    }
    .landup p{
        font-size: 50px;
    }
    .landup{
        font-size: 40px;
    }
    .blackbox{
        height: 950px;
        width: 950px;
        transform: translate(-400px,620px);
    }
    .carousel-inner{
        /* The height and width are not changigg */
        transform: translate(300px,300px);
        transform: scale(2.5);
    }
    .section2:hover{
        border: 5px solid red;
        transform: translateY(200px);
        transform: scale(2.5);
    }
    .i_ch_footercol h4{
        font-size: 35px;
    }
    .i_ch_footercol{
        font-size: 30px;
    }
    .ch_footercol{
        font-size: 30px;
    }
    .i_sticker{
        height: 130px;
        width: 130px;
    }
    .i_footer p{
        font-size: 30px;
        transform: translateX(180px);
    }
    .arrowbutton{
        transform: translateX(500px);
    }
    .leftarrow{
        height: 120px;
        width: 120px;
    }
    .rightarrow{
        height: 120px;
        width: 120px;
        transform: translateX(50px);
    }
    .sun{
        /* transform: translateX(500px); */
    }
    .sun1{
        height: 80px;
        width: 80px;
    }
    .sun2{
        height: 80px;
        width: 80px;
    }
    .sun3{
        height: 80px;
        width: 80px;
    }
    .country{
        transform: translateX(200px);
    }
    .country h3{
        font-size: 80px;
    }
    .country h1{
        font-size: 80px;
    }
    .navigation{
        transform: translateX(200px);
    }
    .navigation h3{
        font-size: 40px;
    }

}
    